#nav-cont{
    background-color: #444;
}
#nav-items-cont{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}
a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style: none;
}