.navbar{
    background-color: gray;
    padding: 10px;
}
.navbar-nav{
    display: flex;
    /* justify-content: space-around; */
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    margin-left: 10px;
}

  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .nav-link:hover{
    color: #555;
  }